<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h2>Displaying a list of Random movies to watch</h2>
    <ul class="movies"> 
    {% for mov in recs %}
    <li>{{mov}}</li>
    {% endfor %}
    </ul>

<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script>
    confetti({
  particleCount: 100,
  spread: 70,
  origin: { y: 0.6 }
});
</script>
<style>
    body {
      background-image: url("https://www.istockphoto.com/photo/movie-theater-with-movie-projector-and-screen-gm1108905048-304812109");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</body>
</html>